.countries-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin: 4rem 0;
}

.card {
  background: $dark-element-color;
  border-radius: $radius;
  box-shadow: $shadow;
  overflow: hidden;
  cursor: pointer;
  &__img {
    height: 130px;
    object-fit: cover;
  }
  &__infos {
    padding: 1.5rem;
  }
  &__name {
    margin-bottom: 1rem;
  }
  &__text--label {
    font-weight: 800;
  }
  &:hover {
    transform: scale(1.05);
    background: $light-background-color;
    color: $light-text-color;
  }
}
