.countries-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin: 4rem 0;
}

.card {
  background: $dark-elements-color;
  border-radius: 4px;
  cursor: pointer;
  &__img {
    height: 45%;
    height: 130px;
    object-fit: fill;
  }
  &__infos {
    padding: 1.5rem;
  }
  &__name {
    margin-bottom: 1rem;
  }
  &__text--label {
    font-weight: 800;
  }
}
