.filter-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 4rem;
  min-height: 10vh;
}

.search-form {
  margin-right: auto;
  background: $dark-element-color;
  color: $dark-text-color;
  box-shadow: $shadow;
  border-radius: $radius;
  padding: 2.2rem;
  display: flex;
  align-items: center;
  width: 400px;
  &__input {
    margin-left: 12px;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: inherit;
    &::placeholder {
      color: $dark-text-color;
    }
  }
}

.select-form {
  background-color: $dark-element-color;
  color: $dark-text-color;
  border-radius: $radius;
  box-shadow: $shadow;
  width: 15%;
  position: relative;
  margin: 0 1rem;
  &__icon {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
  &__select {
    position: relative;
    padding: 2.5rem;
    width: 100%;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    color: inherit;
    z-index: 2;
    cursor: pointer;
  }
}
