.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.search-form {
  background: $dark-element-color;
  color: $dark-text-color;

  padding: 2rem;
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 400px;
  &__input {
    margin-left: 12px;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: inherit;
  }
}

.select-form {
  background-color: $dark-element-color;
  color: $dark-text-color;
  width: 20%;
  position: relative;
  &__icon {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
  &__select {
    position: relative;
    padding: 2rem;
    width: 100%;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 4px;
    background: none;
    color: inherit;
    z-index: 2;
    cursor: pointer;
  }
}
