@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$dark-background-color: hsl(207, 26%, 17%);
$dark-element-color: hsl(209, 23%, 22%);
$dark-text-color: hsl(0, 0%, 100%);

$light-background-color: hsl(0, 0%, 98%);
$light-element-color: hsl(0, 0%, 100%);
$light-text-color: hsl(200, 15%, 8%);
$light-input-color: hsl(0, 0%, 52%);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  font-size: 1.3rem;
  font-weight: 400;
}

.App {
  background: $dark-background-color;
  color: $dark-text-color;
  min-height: 100vh;
}

h1,
h2 {
  font-weight: 800;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: normal;
}

a {
  text-decoration: none;
  color: $dark-text-color;
}

img {
  width: 100%;
}

.button {
  display: inline-block;
  border: 0;
  margin: 0.5rem;
  background: $dark-element-color;
  color: $dark-text-color;
  border-radius: 2px;
  padding: 1rem 3rem;
  outline: none;
  text-align: center;
}

.button--back {
  cursor: pointer;
  margin: 4rem 0;
  &:hover {
    transform: scale(1.1);
  }
}

.container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  position: relative;
  padding: 0 20px;
}
